div(class="d-flex flex-column flex-md-row align-items-center justify-content-center gap-3 mb-3")
	div(class="store-box bg-white text-center p-3 rounded shadow") 
		h6= order.store.username
		div= order.store.address
		div 
			a(href="tel:"+order.store.tel)= order.store.phone

	i(class="bi bi-arrow-left-right text-secondary")

	div(class="driver bg-white text-center p-3 rounded shadow")
		h6 Курьер
		if order.driver
			div= order.driver.username
			div 
				a(href="tel:"+order.driver.tel)= order.driver.phone
			if order.status < 4
				button(class="btn btn-sm btn-danger mt-1" id="revert-driver" data-driverid=order.driver.id) Снять курьера
		else
			div
				button(class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#driverAddForm") Назначить вручную

	i(class="bi bi-arrow-left-right text-secondary")

	div(class="client bg-white text-center p-3 rounded shadow")
		h6 Клиент
		div= order.address
		div
			a(href="tel:"+order.tel)= order.clientPhone
