script(id="orderStatusTmpl" type="text/x-jquery-tmpl")
	div(class="status-item")
		div(class="status-comment")
			p ${user.username}
			p ${comment}
		div(class="status-dot")
			span(class="badge bg-${statuses[status-1].bgColorClass}" title="${coolDate}" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true") ${statuses[status-1].name}

script(id="orderStatusesTmpl" type="text/x-jquery-tmpl")
	div(class="pb-3")
		hr
		h5 История изменения статуса

		div(class="status-item")
			div(class="status-dot")
				span(class="badge bg-secondary" title="${coolDate}" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true") Начало
		. 
			{{each(i ,os) orderStatuses }}
				{{tmpl(os) '#orderStatusTmpl'}}
		. 
			{{/each}}