extends /layout/whideTreeRows

block header 
  include ../header
  //- script(src="/js/2gis/geocoder.js")
  script(src="/js/yandex/2.0/geocoder.js")

block main
  div(class="container")

    div(class="d-flex align-items-center justify-content-between")
      div(class="d-flex align-items-center gap-2")
        a(href="/admin/stores")
          i(class="bi bi-arrow-left fs-3") 
        h3(class="mb-0") Редактировать магазин

    hr

    form(action="/admin/stores/edit" enctype="multipart/form-data" method="post")

      input(type="hidden" name="id" value=store.id)

      div(class="mb-3")
        label(class="form-label") Название
        input(class="form-control" placeholder="Название" name="username" value=store.username) 

      div(class="row")
        div(class="col-md-6")
          div(class="mb-3")
            label(class="form-label") Логин
            input(class="form-control" placeholder="Логин" name="login" value=store.login) 
        div(class="col-md-6")
          div(class="mb-3")
            label(class="form-label") Пароль
            input(class="form-control" placeholder="Пароль" name="pass") 

      div(class="mb-3")
        label(class="form-label") Телефон
        input(class="form-control" placeholder="Телефон" name="phone" required="" value=store.phone) 

      div(class="row")
        div(class="col-md-6")
          div(class="mb-3")
            label(class="form-label") Город
            select(class="form-control" name="cityId" required="")
              each city in cities 
                if city.id == store.cityId
                  option(value=city.id selected)= city.name
                else
                  option(value=city.id)= city.name

        div(class="col-md-6")
          div(class="mb-3")
            label(class="form-label") Адрес
            div(class="input-group")
              input(class="form-control" placeholder="Адрес" name="address" required="" value=store.address) 
              button(class="btn btn-dark" type="button" id="getPoint")
                i(class="bi bi-geo-alt")

      div(class="row")
        div(class="col-md-6")
          div(class="mb-3")
            label(class="form-label") Широта
            input(class="form-control" placeholder="Широта" name="latitude" required="" value=store.latitude) 

        div(class="col-md-6")
          div(class="mb-3")
            label(class="form-label") Долгота
            input(class="form-control" placeholder="Долгота" name="longitude" required="" value=store.longitude) 

      div(class="row")
        div(class="col-md-12")
          div(class="mb-3")
            div(class="form-check form-switch")
              if store.active
                input(class="form-check-input" type="checkbox" id="active" name="active" checked)
              else
                input(class="form-check-input" type="checkbox" id="active" name="active")
              label(class="form-check-label" for="active") Активен


      div(class="mb-3")
        label(class="form-label") Аватар
        if store.avatar
          div
            img(src="/uploads/"+store.avatar alt="" width="100")
        input(type='file' name="avatar" class="form-control")

      div(class="mb-3")
        button(class="btn btn-success" type="submit") Редактировать

block scripts 
  script(src="/js/admin/stores/edit.js")