extends /layout/whideTreeRows

block header 
	include ../header

block main
	div(class="container")

		div(class="d-flex align-items-center justify-content-between")
			div(class="d-flex align-items-center gap-2")
				a(href="/admin")
					i(class="bi bi-arrow-left fs-3") 
				h3(class="mb-0") Магазины

			div
				a(href="/admin/stores/add" class="btn btn-dark") Добавить магазин

		hr

		if stores.length == 0
			p Нет магазинов
		else 
			input(class="form-control form-control-sm mb-2" placeholder="Фильтр..." id="filter")
			table(class="table table-hover bg-white")
				thead 
					tr 
						th Название
						th Логин
						th Телефон
						th(class="d-none d-lg-table-cell") Адрес
						th
				tbody 
					each store in stores 
						tr 
							td(data-val=store.username)= store.username 
							td(data-val=store.login)= store.login
							td(data-val=store.phone)= store.phone
							td(data-val=`${store.city.name}, ${store.address}` class="d-none d-lg-table-cell")= `${store.city.name}, ${store.address}`
							td 
								div(class="d-flex justify-content-end gap-1")
									a(href="/admin/stores/edit/"+store.id class="btn btn-sm btn-primary" title="Редактировать")
										i(class="bi bi-pencil-square")
									a(href="/admin/stores/delete/"+store.id class="btn btn-sm btn-danger" title="Удалить")
										i(class="bi bi-trash3")

block scripts 
	script(src="/js/admin/filter.js")