script(id="orderTmpl" type="text/x-jquery-tmpl")
  tr(class="status-${status} table-${statuses[status-1].bgColorClass}" data-id="${id}")
    td(class="text-center")
      a(href="/admin/orders/${id}" target="_blank") ${id}
    td 
      span(title="${toDateString(createdAt)}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true") ${coolDate}
    td ${statuses[status-1].name}
    td ${clientPhone}
    td 
      span(title="${city.name}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true") ${address}
    td 
      a(href="/admin/stores/edit/${storeId}" target="_blank" title='${store.address}<br>${store.phone}' data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true") ${store.username}
    td ${summ}&nbsp;р.
    . 
      {{if driver}}
    td 
      a(href="/admin/drivers/edit/${driverId}" target="_blank" title="${driver.phone}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true") ${driver.username}
    . 
      {{else}}
    td Не&nbsp;назначен
    . 
      {{/if}}
    td
      a(href="/admin/orders/delete/${id}" class="btn btn-sm btn-danger" title="Удалить заказ")
        i(class="bi bi-trash3")

script(id="noOrdersTmpl" type="text/x-jquery-tmpl")
  tr(class="no-orders")
    td(colspan="10")
      span С текущим фильтром заказов не найдено